body {
  line-height: 120%; }

table thead td {
  border: 1px solid #dedede;
  background-color: #f8f8f8;
  padding: 15px 5px;
  font-weight: bold; }

.activity {
  height: 60px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #dedede; }
  table .activity {
    padding: 0;
    height: auto;
    border: 0; }
    table .activity td {
      border: 1px solid #dedede;
      padding: 5px; }
  .activity:nth-child(2n) {
    background-color: #fdfdfd; }
  .activity.activity-2 {
    background-color: #a6fefe; }
  .activity.activity-3 {
    background-color: #cbf4ff; }
  .activity.activity-4 {
    background-color: #e7f7da; }
  .activity.activity-5 {
    background-color: #feffd3; }
  .activity.activity-6 {
    background-color: #bee5ba; }
  .activity.activity-7 {
    background-color: #ffd7e9; }
  .activity.activity-8 {
    background-color: white; }
  .activity.activity-9 {
    background-color: #fffbf6; }

.partof8 {
  width: 12.5%;
  float: left; }

.calendar .partof8 .name {
  display: block; }
.calendar .partof8 .hour {
  display: none; }
.calendar .partof8:first-child .hour {
  display: block; }
@media screen and (max-width: 480px) {
  .calendar .partof8 {
    width: 100%; } }
@media (min-width: 480px) and (max-width: 767px) {
  .calendar .partof8 {
    width: 33.33333%; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .calendar .partof8 {
    width: 25%; } }
@media screen and (max-width: 1199px) {
  .calendar .partof8:first-child {
    display: none; }
  .calendar .partof8 .hour {
    display: block; }
  .calendar .partof8 .activity {
    height: auto;
    min-height: 60px; }
    .calendar .partof8 .activity.activity-1 {
      display: none; } }
@media (min-width: 1200px) {
  .calendar .partof8 .activity {
    border-bottom-width: 0;
    border-right-width: 0; }
    .calendar .partof8 .activity:last-child {
      border-bottom-width: 1px; }
  .calendar .partof8:last-child .activity {
    border-right-width: 1px; } }

footer {
  margin: 30px 0;
  border-top: 1px solid #dedede;
  padding-top: 30px; }

/*# sourceMappingURL=style.css.map */
