$borderColor: #dedede; 

body {
    line-height: 120%;
}

table {
    thead td {
        border: 1px solid $borderColor;
        background-color: lighten($borderColor,10%);
        padding: 15px 5px;
        font-weight: bold;
    }
}
.activity {
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid $borderColor;
    table & {
        padding: 0;
        height: auto;
        border: 0;
        td {
            border: 1px solid $borderColor;
            padding: 5px;
        }
    }
    &:nth-child(2n) {
        background-color: lighten($borderColor,12%);
    }
    $activities-color-collection: (transparent, transparent, #01A4A4, #00A1CB,#61AE24, #D0D102, #32742C, #D70060, #E54028, #F18D05);
    @for $i from 2 to length($activities-color-collection) {
        &.activity-#{$i} {
            background-color: lighten( nth($activities-color-collection, $i+1), 50%);
        }
    }
}
.partof8 {
    width: percentage(1/8);
    float: left;
}
.calendar {
    .partof8 {
        .name {
            display: block;
        }
        .hour {
            display: none;
        }
        
        &:first-child{
            .hour {
                display: block;
            }
        }
        @media screen and (max-width:480px){
            width: percentage(1/1);
        }
        @media (min-width:480px) and (max-width:767px){
            width: percentage(1/3);
        }
        @media (min-width:768px) and (max-width:1199px){
            width: percentage(1/4);
        }        
        @media screen and (max-width:1199px){
            &:first-child {
                display: none;
            }
            .hour {
                display: block;
            }
            .activity {
                height: auto;
                min-height: 60px;
                &.activity-1 {
                    display: none;
                }
            }
        }
        @media (min-width:1200px){
            .activity {
                border-bottom-width: 0;
                border-right-width: 0;
                &:last-child{
                    border-bottom-width: 1px;
                }
            }
            &:last-child{
                .activity {
                    border-right-width: 1px;
                }
            }
        }
    }
}
footer {
    margin: 30px 0;
    border-top: 1px solid $borderColor;
    padding-top: 30px;
}