﻿<div class="calendar viewWeek view">
    <div class="container">
        <header>
            <h3>Gym Calendar (Week)</h3>
        </header>
        <div>
            <div class="partof8">
                <h5>Hour</h5>
                <div>
                    <div class="activity" data-ng-repeat="hour in dayHours">
                        <span class="hour">{{hour}}</span>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Monday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 1 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Thuesday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 2 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Wensday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 3 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Thursday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 4 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Friday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 5 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Sathurday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 6 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
            <div class="partof8">
                <h5>Sunday</h5>
                <div>
                    <div class="activity activity-{{activity.type}}" data-ng-repeat="activity in activitiesEmpty | filter: { dayofweek: 7 }">
                        <span class="hour">{{activity.hour}}</span>
                        <span class="name">{{activity.name}}</span>
                        <button ng-hide="activity.name == ''" ng-disabled="activity.enable == 0" id="addReservation" class="btn btn-primary btn-small" type="button" data-ng-click="addReservation(activity.id)">Add Reservation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>