﻿<div class="user view">
    <div class="container">
        <header>
           <h2>User Profile</h2>
        </header>
        <h3>Personal Details</h3>
        <div class="row">
            <div class="span12">
                <span class="first_name">{{user.first_name}}</span>
                <span class="last_name">{{user.last_name}}</span>
            </div>
        </div>
        <h3>Reservations</h3>
        <table>
            <thead>
                <tr>
                    <td>Activity</td>
                    <td>Reservation Date</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr class="activity activity-{{reservation.activity.type}}" data-ng-repeat="reservation in user.reservations">
                    <td>{{reservation.activity.name}}</td>
                    <td>{{reservation.date | dateToISO | date:'yyyy-MM-dd, EEEE'}}</td>
                    <td><button id="cancelReservation" class="btn btn-primary" type="button" data-ng-click="cancelReservation(reservation.id)">Cancel Reservation</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

